@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 240 10% 3.9%; /* #0A0A0B */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 240 10% 3.9%; /* #0A0A0B */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 240 10% 3.9%; /* #0A0A0B */
    --primary: 32 95% 54%; /* #FF8A00 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 240 4.8% 95.9%; /* #F4F4F5 */
    --secondary-foreground: 240 5.9% 10%; /* #1A1A1C */
    --muted: 240 4.8% 95.9%; /* #F4F4F5 */
    --muted-foreground: 240 3.8% 46.1%; /* #71717A */
    --accent: 240 4.8% 95.9%; /* #F4F4F5 */
    --accent-foreground: 240 5.9% 10%; /* #1A1A1C */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */
    --border: 240 5.9% 90%; /* #E4E4E7 */
    --input: 240 5.9% 90%; /* #E4E4E7 */
    --ring: 25 72% 29%; /* #7C2D12 */
    --radius: 0.75rem;
    --chart-1: 12 76% 61%; /* #F87171 */
    --chart-2: 173 58% 39%; /* #2E7C7B */
    --chart-3: 197 37% 24%; /* #264653 */
    --chart-4: 43 74% 66%; /* #F4BF4F */
    --chart-5: 27 87% 67%; /* #FB923C */
  }

  /* .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 32 95% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --radius: 0.75rem;
    --ring: 25 72% 29%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Wave animations */
.waves {
  position: relative;
  width: 100%;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.waves-svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100%;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
